<div class="row">
    <div class="twelve columns" style="background-color:#f0f0f0;">
        <h1>New url</h1>
        <%= render 'urls/form' %>
        <div style="margin:1em 0; height:10px;clear:both;"><br /></div>
        <p><%= link_to 'Back', urls_path %></p>
    </div>
</div>
