<div class="row">
  <div class="four columns centered">
<div class="row">
  <div class="twelve columns centered panel">
<h2>Error</h2>
<p>To enter your URL into this form, you must 
<ul class="circle"><li>Be a member of the CCSF or CSM Ruby programming class</li> <li>Be submitting a Heroku URL</li></ul></p>
</div>
</div>
<div class="row">
  <div class="twelve columns centered ">

<h3>Register for Ruby</h3>
<h5>CSM</h5>
<ul class='circle'>
<li><a href="http://www.collegeofsanmateo.edu">College of San Mateo</a></li>
<li><a href="http://www.ccsf.edu">City College of San Francisco</a></li>
</ul>
</div>
</div>
</div>
</div>
